Repository bschaatsbergen/dnsdialer, changes with the labels that .github/labeler.yaml gives for each.
All labels: github_actions, dependencies, documentation, tests

add test with local httptest server
  resolver_test.go
Labels: tests

test with grpc dialer
  go.mod
  go.sum
  resolver_test.go
Labels: dependencies, tests

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Create .golangci.yml
  .golangci.yml
Labels: none

Update README.md
  README.md
Labels: documentation

add a note on lack of OS-level caching
  README.md
Labels: documentation

implement LRU cache to cache IP addresses
  README.md
  cache.go
  go.mod
  go.sum
  options.go
  resolver.go
Labels: dependencies, documentation

Create benchmark_test.go
  benchmark_test.go
Labels: tests

add bench output
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

provide better inline comments
  cache.go
  connpool.go
  consensus.go
  fallback.go
  race.go
  resolver.go
  udp.go
Labels: none

add cgo benchmark
  Makefile
  README.md
  cgo_benchmark_test.go
  cgo_disabled.go
  cgo_enabled.go
Labels: documentation, tests

add copyright header
  .copygen.yaml
  LICENSE
  benchmark_test.go
  cache.go
  compare.go
  connpool.go
  consensus.go
  doc.go
  fallback.go
  options.go
  race.go
  recordtype.go
  resolver.go
  resolver_test.go
  strategy.go
  strategy_test.go
  udp.go
  util.go
  util_test.go
Labels: tests

document caching behavior differences
  cgo_benchmark_test.go
Labels: tests

Document CGO impact on DNS caching
  README.md
Labels: documentation

use 'resolvers' instead of 'servers
  README.md
  cache.go
  cgo_benchmark_test.go
  connpool.go
  doc.go
  options.go
  race.go
  resolver.go
  udp.go
Labels: documentation, tests

add copyright header
  cgo_disabled.go
  cgo_enabled.go
Labels: none

add common public DNS resolvers
  resolvers.go
  resolvers_test.go
Labels: tests

enable workflows
  .github/workflows/ci-triage.yaml
  .github/workflows/ci.yaml
  .github/workflows/issue-triage.yaml
Labels: github_actions

.github/labeler.yaml:

github_actions:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**"
          - ".goreleaser.yaml"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "go.mod"
          - "go.sum"

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"

tests:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*_test.go"
